<!DOCTYPE html>
<html>

<head th:insert="fragments/head.html :: head"></head>


<body id="page-top">

    <div class="div_nav">
        <div th:insert="fragments/ban.html :: div"></div>
    </div>
    <br>


    <main class="text-center text-Black d-flex masthead">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="text-uppercase"><strong>Please describe problems encountered for IT risk management:

                        </strong></h2>
                     
                </div>

            </div>
            <div class="col-lg-8 mx-auto">

            <form action="#" th:action="@{/problem_description}" th:object="${ProblemDescription}" method="post">
                <input id="id" type="hidden" th:field="*{id}" />
                <label for="description">description </label>
                <br>
               <textarea rows="10" cols="50" id ="description" type="text" th:field="*{description}" > </textarea>
            </form>
            </div>
            

             
        </div>

    </main>

     <br>
     <br>
     <br>

    <div id="SO" class="row">


    </div>






    <div th:insert="fragments\previousnext.html :: div"></div>


</body>

<script>
    function collect() {
        description = document.getElementById("description").value.trim();
        id = document.getElementById("id").value.trim();

        if (description === "") {
            ae();
            return -1;
        }
       data = {
        "id" : parseInt(id),
        "description" : description
       }

       console.log(data);
    fetch("", {
    method: "POST",
    headers: {'Content-Type': 'application/json'}, 
    body: JSON.stringify(data)
    }).then(res => {
    console.log("Request complete! response:", res);
    nt(res);

    });
    }
</script>

<footer th:insert="fragments/footer.html :: footer"></footer>




</html>