<table  border="2px" cellspacing="0" cellpadding="">
    <tbody>
        <tr>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  colspan="2" id="70">Likelihood</td>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"   id="72"></td>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"   id="73"></td>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"   id="74"></td>
      

        </tr>

        <tr>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"   id="60">4</td>
            <td style="text-align: center;background-color: yellow;"  id="41"></td>
            <td style="text-align: center;background-color: orange;" id="42"></td>
            <td style="text-align: center;background-color: red;"   id="43"></td>
            <td style="text-align: center;background-color: red;"   id="44"></td>
   
            
        </tr>

        <tr>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"   id="50">3</td>
            <td style="text-align: center;background-color: yellow;" id="31"></td>
            <td style="text-align: center;background-color: orange;"   id="32"></td>
            <td style="text-align: center;background-color: orange;"   id="33"></td>
            <td style="text-align: center;background-color: red;"   id="34"></td>

        </tr>

        <tr>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"   id="40">2</td>
            <td style="text-align: center;background-color: green;"   id="21"></td>
            <td style="text-align: center;background-color: yellow;"   id="22"></td>
            <td style="text-align: center;background-color: orange;"   id="23"></td>
            <td style="text-align: center;background-color: orange;"   id="24"></td>

        </tr>

        <tr>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  id="30">1</td>
            <td style="text-align: center;background-color: green;"  id="11"></td>
            <td style="text-align: center;background-color: green;"  id="12"></td>
            <td style="text-align: center;background-color: yellow;"  id="13"></td>
            <td style="text-align: center;background-color: yellow;"  id="14"></td>

        </tr>

      

        <tr>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  class="td0 td00" id="00"></td>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  class="td0 td01" id="01">1</td>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  class="td0 td02" id="02">2</td>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  class="td0 td03" id="03">3</td>
            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  class="td0 td04" id="04">4</td>

            <td style="text-align: center; background-color: transparent; text-align: center;border: none;"  class="td0 td07" id="07">Impact</td>

        </tr>
    </tbody>
</table>
