<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>complete_the_process_mapping</h1>

<table id="table_0" border="2px" cellspacing="0" cellpadding="">
    
        <tr>
            <th>Activité </th>
            <th>Macro processus  </th>
            <th>Processus</th>
    
            <th>Sous-processus</th>
            <th>Applications IT</th>
            <th>Processus IT</th>
            <th>Infrastructures IT</th>
            <th>Sous-processus Critique (Oui / Non)</th>
    
        </tr>
    
        <tr id="table_0_div_0_tr">
            <td id="table_0_div_0_tr_td_1" rowspan="3"><textarea name="" id="table_0_div_0_activite" rows="5"></textarea></td>
            <td id="table_0_div_0_tr_td_2" rowspan="3"> <textarea name="" id="table_0_div_0_macroProcessus" rows="5"></textarea> </td>
            <td id="table_0_div_0_tr_td_3" rowspan="3"> <textarea name="" id="table_0_div_0_processus" rows="5"></textarea> </td>
    
            <td><textarea name="" id="table_0_div_0_tr_0_sousProcessus" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_0_applicationsIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_0_processusIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_0_infrastructuresIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_0_critique" rows="5"></textarea></td>

                                  
        
        </tr>
        <tr>
    
    
            <td><textarea name="" id="table_0_div_0_tr_1_sousProcessus" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_1_applicationsIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_1_processusIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_1_infrastructuresIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_0_tr_1_critique" rows="5"></textarea></td>
        </tr>
    
        <tr id="table_0_div_0">
           
    
            <td colspan="5"  > <button onclick="addSP('table_0_div_0')">Add a sous Processus</button></td>
          
        </tr>

   

  
    
</table>
<button onclick="addligne('table_0')">add Row</button>

<script>
    var nbrL = 0
    function addligne(table_id) {
        nbrL = nbrL + 1;

        var table = document.getElementById(table_id);
        var html = `
        <tr id="table_0_div_${nbrL}_tr">
            <td id="table_0_div_${nbrL}_tr_td_1" rowspan="3"> <textarea name="" id="table_0_div_${nbrL}_activite" rows="5"></textarea> </td>
            <td id="table_0_div_${nbrL}_tr_td_2" rowspan="3"> <textarea name="" id="table_0_div_${nbrL}_macroProcessus" rows="5"></textarea>  </td>
            <td id="table_0_div_${nbrL}_tr_td_3" rowspan="3"> <textarea name="" id="table_0_div_${nbrL}_processus" rows="5"></textarea </td>

  
                    
            <td><textarea name="" id="table_0_div_${nbrL}_tr_0_sousProcessus" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_0_applicationsIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_0_processusIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_0_infrastructuresIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_0_critique" rows="5"></textarea></td>

        </tr>
        <tr>
    
            <td><textarea name="" id="table_0_div_${nbrL}_tr_1_sousProcessus" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_1_applicationsIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_1_processusIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_1_infrastructuresIT" rows="5"></textarea></td>
            <td><textarea name="" id="table_0_div_${nbrL}_tr_1_critique" rows="5"></textarea></td>
        </tr>
    
        <tr id="table_0_div_${nbrL}">
           
    
            <td colspan="5"  > <button onclick="addSP('table_0_div_${nbrL}')">Add a sous Processus</button></td>
          
        </tr>
             `
        // table.innerHTML = table.innerHTML +  html;

        table.insertAdjacentHTML("beforeend",
            html);

    }

    function addSP(div_id) {
        console.log("befor");
        div = document.getElementById(div_id);
        tr = document.getElementById(div_id+"_tr")
        td2 = document.getElementById(div_id+"_tr_td_2") 
        td3 = document.getElementById(div_id+"_tr_td_3") 

        td1 = document.getElementById(div_id+"_tr_td_1") 

        rowspan = parseInt(td1.getAttribute("rowspan")) + 1

        console.log(rowspan);


        td1.setAttribute("rowspan", rowspan)
        td2.setAttribute("rowspan", rowspan)
        td3.setAttribute("rowspan", rowspan)

        id = div_id+"_tr_"+(rowspan-2)
   

        var html = `
                    <tr>
            <td><textarea name="" id="${id}_sousProcessus" rows="5"></textarea></td>
            <td><textarea name="" id="${id}_applicationsIT" rows="5"></textarea></td>
            <td><textarea name="" id="${id}_processusIT" rows="5"></textarea></td>
            <td><textarea name="" id="${id}_infrastructuresIT" rows="5"></textarea></td>
            <td><textarea name="" id="${id}_critique" rows="5"></textarea></td>
                    </tr>
             `
        // table.innerHTML = table.innerHTML +  html;

        div.insertAdjacentHTML("beforebegin",
            html);
            console.log("end");
        

    }

</script>
    

<script>
     function collect() {


var data = new Array();
for (let idtr = 0; idtr < nbrL; idtr++) {
    t_index = "table_0_div_"+idtr;
    td1 = document.getElementById(t_index+"_tr_td_1") 
    nbrOfSP = parseInt(td1.getAttribute("rowspan")) - 1
 
        activit    = document.getElementById(t_index+"_activite").value.trim();
        macroProcessus   = document.getElementById(t_index+"_macroProcessus").value.trim();
        processus  = document.getElementById(t_index+"_processus").value.trim();
    
        var sPList = new Array();
    for (let index = 0; index < nbrOfSP; index++) {

        sousProcessus = document.getElementById(  `table_0_div_${idtr}_tr_${idex}_sousProcessus`).value.trim();
        applicationsIT = document.getElementById(  `table_0_div_${idtr}_tr_${idex}_applicationsIT`).value.trim();
        processusIT = document.getElementById(  `table_0_div_${idtr}_tr_${idex}_processusIT`).value.trim();
        infrastructuresIT = document.getElementById(  `table_0_div_${idtr}_tr_${idex}_infrastructuresIT`).value.trim();
        critique = document.getElementById(  `table_0_div_${idtr}_tr_${idex}_critique`).value.trim();
       
        sPList.push({
        'sousProcessus' : sousProcessus , 
        'applicationsIT' : applicationsIT , 
        'processusIT' : processusIT , 
        'infrastructuresIT' : infrastructuresIT , 
        'critique' : critique , 

            }
            );
                
        
    }

    data.push({
        'activit' : activit ,
        'processus':processus,
        'macroProcessus' : macroProcessus ,
        'sousProcessusList' : sPList

    }
    );

    


}

console.log(JSON.stringify(data));

fetch("", {
    method: "POST",
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(data)
}).then(res => {
    console.log("Request complete! response:", res);


    confirm("next");
 


    window.location.href = 'allsteps';

});


}
</script>
</body>
</html>