<!DOCTYPE html>
<html>

    <head th:insert="fragments/head.html :: head"></head>  



<body id="page-top">

    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Phase 1 : Cadrage du projet        </li>
        <li class="list-group-item">
            <a th:href="@{/strategicOrientations}">
              Orientations générales et partage des attentes
            </a>
        </li>

        <li class="list-group-item">
            <a href="">
              Organisation du projet
            </a>
        </li>
        <li class="list-group-item">
            <a href=""> 
              Référentiel méthodologique de management des risques
            </a>
        </li>
      
      </ul>

      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">
            Phase 2 : Collecte et analyse des données    
        </li>
        <li class="list-group-item">
            <a href="">
                APO12.01 Collecter les données
            </a>
        </li>
      
      </ul>

      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">
            Phase 3 : Elaboration du dispositif de gestion des risques IT
        </li>
        <li class="list-group-item">
            <a href="">
                APO12.02 Analyser les risques

            </a>
        </li>

        <li class="list-group-item">
            <a href="">
                APO12.03 Maintenir un profil de risque

            </a>
        </li>
      
      </ul>

      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">
            Phase 4 : Conduite du changement / communication et sensibilisation

        </li>
        <li class="list-group-item">
            <a href="">
                EDM03.02 Diriger la gestion des risques


            </a>
        </li>

        <li class="list-group-item">
            <a href="">
                APO12.04 Fournir de l’information sur les risques

            </a>
        </li>
      
      </ul>

      
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">
            Phase 5 : Suivi et surveillance

        </li>
        <li class="list-group-item">
            <a href="">
                APO12.06 Réagir face aux risques

            </a>
        </li>

        <li class="list-group-item">
            <a href="">
                APO12.05 Définir un portefeuille d’actions liées à la gestion des risques

            </a>
        </li>
        <li class="list-group-item">
            <a href="">
                EDM03.03 Surveiller la gestion des risques

            </a>
        </li>


      
      </ul>


</body>

<footer th:insert="fragments/footer.html :: footer" ></footer>  


</html>