<!DOCTYPE html>
<html>

    <head th:insert="fragments/head.html :: head" ></head>  


<body id="page-top">
    
    <header class="text-center text-Black d-flex masthead" >
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="text-uppercase">
                        <strong>
                            Please specify the major incidents or potential risks of the company:

                    </strong></h2>
                    <hr>
                </div>

            </div>

        </div>

    </header>

    <hr>

    <main id="main">
        <table id ="table_0" border="2px" cellspacing="0" cellpadding="">
            <tr id="table_0_tr_0">
                <td>Source</td>  
                <td> Evénement à risque  </td>
                <td>Catégorie</td>
                <td>Facteur / cause de risque</td>
                <td>Fréquence</td>
                <td>Impact</td>
            </tr>

            <tr id="table_0_tr_1"> <td> 
                <td>  <input type="text" value=" " id="table_0_tr_1_s"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_1_e"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_1_c"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_1_cr"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_1_f"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_1_i"> </td>
            </tr>
            <tr id="table_0_tr_2"> <td> 
                <td>  <input type="text" value=" " id="table_0_tr_2_s"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_2_e"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_2_c"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_2_cr"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_2_f"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_2_i"> </td>
            </tr>

            <tr id="table_0_tr_3"> <td> 
                <td>  <input type="text" value=" " id="table_0_tr_3_s"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_3_e"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_3_c"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_3_cr"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_3_f"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_3_i"> </td>
            </tr>

            <tr id="table_0_tr_4"> <td> 
                <td>  <input type="text" value=" " id="table_0_tr_4_s"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_4_e"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_4_c"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_4_cr"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_4_f"> </td>
                <td>  <input type="text" value=" " id="table_0_tr_4_i"> </td>
            </tr>

            
            </table>
    </main>


    <hr>
    <button onclick="collect()" type="" class="btn btn-primary btn-xl js-scroll-trigger">Generate forms</button>








</body>



<footer th:insert="fragments/footer.html :: footer" ></footer>  




<script>
  

    var nbrL = 3
    function addligne(table_id){
        var id =parseInt( table_id.split('_')[1]);
        console.log(id);
        nbrL = nbrL + 1;

        var table = document.getElementById(table_id);
        var html = `
                     <tr id="${table_id}_tr_4"> <td> <input type="text" name=" " id="${table_id}_tr_${nbrL}_r"> </td>  <td> <input type="text" name=" " id="${table_id}_tr_${nbrL}_mp">  </td></tr>
                   `
        // table.innerHTML = table.innerHTML +  html;

        table.insertAdjacentHTML("beforeend",
            html);
        
    }
</script>


<script>
    function collect(){
      
            
            var data = new Array();
            for (let idtr = 1; idtr <= nbrL  ; idtr++) {
                 Source = document.getElementById(`table_0_tr_${idtr}_s`).value
                 evenement = document.getElementById(`table_0_tr_${idtr}_e`).value
                 categorie = document.getElementById(`table_0_tr_${idtr}_c`).value
                 facteur =  document.getElementById(`table_0_tr_${idtr}_cr`).value
                 frequence = document.getElementById(`table_0_tr_${idtr}_f`).value
                 impact = document.getElementById(`table_0_tr_${idtr}_i`).value
               

                data.push({
                 "Source" :  Source,
                 "evenement" :  evenement,
                 "categorie" :  categorie,
                 "frequence" :  frequence,
                 "facteur" :      facteur,
                 "impact" :      impact
                
                }
                 );
                
                
            }

          

        fetch("", {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)
        }).then(res => {
        console.log("Request complete! response:", res);


        confirm("next");
        console.log(JSON.stringify(data));

        
        // window.location.href =   'ok';

        });


    }
</script>


</html>


