<!DOCTYPE html>
<html>

    <head th:insert="fragments/head.html :: head" ></head>  


<body id="page-top">
    
    <main class="text-center text-Black d-flex masthead" >
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="text-uppercase">
                        <strong>
                            Please specify the time limit of each phase:
                        </strong>
                    </h2>
                    <hr>
                </div>

            </div>

            <div class="col-lg-8 mx-auto">
            
                <form th:action="@{levelofdetails/saved}">
                    <div class="form-group">

                        <input type="radio" name="levelofdetails"  value="Level 4">
                        <input type="radio" name="levelofdetails"  value="Level 5">
                        <input type="radio" name="levelofdetails"  value="Level 6">

                        
                      <a  type="submit" class="btn btn-primary btn-xl js-scroll-trigger">Save </a>
                    </form>
                </div>
        </div>

    </main>

    <hr>


</html>