<!DOCTYPE html>
<html>

    <head th:insert="fragments/head.html :: head" ></head>  


<body id="page-top">
    
    <header class="text-center text-Black d-flex masthead" >
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="text-uppercase">
                        <strong>
                            Please specify the major incidents or potential risks of the company:

                    </strong></h2>
                    <hr>
                </div>

            </div>

        </div>

    </header>

    <hr>

    <main id="main">
        <table id ="table_0" border="2px" cellspacing="0" cellpadding="">
            <tr id="table_0_tr_0"><td>Risk</td>  <td> Mitigation plans </td></tr>
            <tr id="table_0_tr_1"> <td> <input type="text" name=" " id="table_0_tr_1_r"> </td>  <td> <input type="text" name=" " id="table_0_tr_1_mp"> </td></tr>
            <tr id="table_0_tr_2"> <td> <input type="text" name=" " id="table_0_tr_2_r"> </td>  <td> <input type="text" name=" " id="table_0_tr_2_mp"> </td></tr>
            <tr id="table_0_tr_3"> <td> <input type="text" name=" " id="table_0_tr_3_r"> </td>  <td> <input type="text" name=" " id="table_0_tr_3_mp">  </td></tr>

            </table>
            <button onclick="addligne('table_0')" type="" class="btn btn-primary">add Ligne</button>
    </main>


    <hr>
    <button onclick="collect()" type="" class="btn btn-primary btn-xl js-scroll-trigger">Generate forms</button>








</body>



<footer th:insert="fragments/footer.html :: footer" ></footer>  




<script>
  

    var nbrL = 3
    function addligne(table_id){
        var id =parseInt( table_id.split('_')[1]);
        console.log(id);
        nbrL = nbrL + 1;

        console.log(concurretsList);
        var table = document.getElementById(table_id);
        var html = `
                     <tr id="${table_id}_tr_4"> <td> <input type="text" name=" " id="${table_id}_tr_${nbrL}_r"> </td>  <td> <input type="text" name=" " id="${table_id}_tr_${nbrL}_mp">  </td></tr>
                   `
        // table.innerHTML = table.innerHTML +  html;

        table.insertAdjacentHTML("beforeend",
            html);
        
    }
</script>


<script>
    function collect(){
      
            
            var data = new Array();
            for (let idtr = 1; idtr <= nbrTr  ; idtr++) {
                risk = document.getElementById(`table_0_tr_${idtr}_r`).value
                mitigationPlans = document.getElementById(`table_0_tr_${idtr}_mp`).value

                if (risk == "") {
                    
                }else{
                data.push({
                    'incident' : risk,
                    'mitigationPlans':mitigationPlans
                });
                
                }
            }

          

        fetch("", {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)
        }).then(res => {
        console.log("Request complete! response:", res);


        confirm("next");
        console.log(JSON.stringify(data));
        // window.location.href =   'ok';

        });


    }
</script>


</html>
