<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:insert="fragments/head.html :: head" ></head>  


<body id="page-top">
    
    <main class="text-center text-Black d-flex masthead" >
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2 class="text-uppercase">

                    <strong  th:text="${title}">
                        
                    </strong>
                </h2>
                    <hr>
                </div>

            </div>

            <div class="col-lg-8 mx-auto">
            
                
                    <div class="form-group">
                        <label for="title"> Title</label>

                      </div>    
                   

                      <button onclick="save()" type="" class="btn btn-primary btn-xl js-scroll-trigger">save all and next </button>
               
                </div>
        </div>

        <hr>


    </main>








</body> 

<input class="form-control"  id="fileUploader" type="file" multiple="multiple" onchange="updateList()">
<div id="divFiles">

    <table id = 'fileTable'> </table>
</div>

<hr>

<a th:href="${next}">
    next
    </a>
    




<footer th:insert="fragments/footer.html :: footer" ></footer>  
<script src="assets\js\jquery.min.js"></script>
    

   <script>
        var id = 0;
        var listEx = new Array();
       var filelist = new Array();
       var files = null 
       var allFiles = new Array();

       updateList = function () {
           var input = document.getElementById('fileUploader');
           var output = document.getElementById('fileTable');
           files = input.files

           var HTML = "";
           for (var i = 0; i < files.length; ++i) {
                
               filelist[id]= files.item(i).name;
               HTML += "<tr id ='"+id+"'><td>" + filelist[id] + "</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick= \"remove('"+id+"')\" ></button></td></tr>";
               allFiles[id] = files[i]
               id++
            }
           output.innerHTML += HTML;
           console.log(files);
       }

       function remove(id) {
        
        listEx.push(parseInt(id))
        console.log(parseInt(id))
        console.log(listEx);
        var el = document.getElementById(id);
        el.remove();
        
       }

      

       function isNotIn(item , list){
        var r = true;
        for (let index = 0; index < list.length; index++) {
            if ( item === list[index]) {
                r = false
            } 
        }
        return r
       }

       async function save(){
        var formdata = new FormData();
        
       for (let i = 0; i < allFiles.length; i++) {
        if (isNotIn(i , listEx )) {
            formdata.append("files", allFiles[i]);
        }
       }

        var requestOptions = {
        method: 'POST',
        body: formdata,
        redirect: 'follow'
        };

        console.log(formdata);

        const raw_response = await fetch("upload", requestOptions)
        .then(res => {
        console.log("Request complete! response:", res);
            if (res.ok) {
                alert("Upload complete");
                    id = 0;
                    listEx = new Array();
                    filelist = new Array();
                    files = null 
                    allFiles = new Array();
                    document.getElementById('fileTable').innerHTML = ""


            } else {
                alert("Upload faild");
                
            }
        })
        .then(response => response.text())
        .then(result => console.log(result))
        .catch(error => console.log('error', error));    


    }
    

        // let photo = document.getElementById("image-file").files[0];
        // let formData = new FormData();

        // formData.append("photo", photo);
        // fetch('/upload/image', {method: "POST", body: formData});
   </script>
</body>

</html>


