<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    


    <div id="div">
        <table class="fl-table" id="table_1" border="2px" cellspacing="0" cellpadding="" style="">
            <tbody><tr>
              </tr>
            </tbody><thead style="background-color:#B0C4DE;">
            <tr><th class="headcol"> Macro-processus   </th>
            <th class=""> Processus </th>
            <th class=""> Risk category </th>
            <th class=""> Risk </th>
            <th class=""> kRI </th>
            <th class=""> Risk factors </th>
            <th class=""> Consequences </th>
            <th class=""> Control activities </th>
            <th class="thShort"> Effectiveness of controls </th>
            <th class="thShort"> Frequency / Probability </th>
            <th class="thShort"> Impact </th>
            <th class="thShort"> Exposure </th>
            <th class="thShort"> Level of criticality</th>
            <th class=""> Potential risk response options </th>
            <th class=""> Cost of potential risk response option </th>
            <th class=""> Benefit of the potential risk response option</th>
            <th class="thShort">optimal option</th>
            <th class="">Risk Response Plan</th>
            <th class="">Needs for the implementation of risk response plans </th>
            <th class="thShort"> progress of risk response plans</th> 
          
        </tr></thead>
            
            
            <tbody id="table_0_tr_0">
        <tr>
     
     <td class="headcol" rowspan="4" id="">
         Macro-process	1
        </td>
    
      <td class="" rowspan="4" id="">
         Process 1
        </td>
    
      <td class="" rowspan="4" id="">
         Software
        </td>
    
      <td class="" rowspan="4" id="">
         Risk	 1
        </td>
    
      <td class="" rowspan="4" id="">
         KRI 1
        </td>
    
      <td class="" rowspan="4" id="">
         Risk factors	 1
        </td>
    
      <td class="" rowspan="4" id="">
         Consequences	 1
        </td>
    
      <td class="" rowspan="4" id="">
         Control activities	 2
        </td>
    
      <td class="" rowspan="4" id=""> 
        4
     </td> 
    
    
    
    
      <td class="" rowspan="4" id=""> 
        4
          </td> 
      <td class="" rowspan="4" id=""> 
        3
         </td> 
      <td class="" rowspan="4" id=""> 
        12
          </td> 
    
      <td class=" Moderate" rowspan="4" id="table_0_tr_0_criticalityLevel"> Moderate </td> 
          
      <td class=""> Accept </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        Elevé (1)
      </td>
    
      
     
      <td class="Accept , Transfer" rowspan="4" id="table_0_tr_0_optionOptimale_c">
        Accept , Transfer
      </td>
    
      <td class="" rowspan="4" id="">
         Risk Response Plan	 1
    
         </td> 
      <td class="" rowspan="4" id="">
        Needs for the implementation of risk response plans	 1 
     </td> 
      <td class="" rowspan="4" id=""> 
        9
        </td> 
    
    
    </tr>
    
    
    <tr>
      <td class=""> Avoid </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        NA
      </td>
     
    </tr>
    <tr>
      <td class=""> Mitigate </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        Moyen (2)
      </td>
      
    </tr>
    <tr>
      <td class=""> Transfer </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        Elevé (1)
      </td>
     
    </tr>
    
    </tbody>
                 
            <tbody id="table_0_tr_1">
        <tr>
     
     <td class="headcol" rowspan="4" id="">
         Macro-process	 2
        </td>
    
      <td class="" rowspan="4" id="">
         Process 2
        </td>
    
      <td class="" rowspan="4" id="">
         IT expertise and skills
        </td>
    
      <td class="" rowspan="4" id="">
         Risk	 2
        </td>
    
      <td class="" rowspan="4" id="">
         KRI 1
        </td>
    
      <td class="" rowspan="4" id="">
         Risk factors	 2
        </td>
    
      <td class="" rowspan="4" id="">
         Consequences	2
        </td>
    
      <td class="" rowspan="4" id="">
         Control activities	 3
        </td>
    
      <td class="" rowspan="4" id=""> 
        1
     </td> 
    
    
    
    
      <td class="" rowspan="4" id=""> 
        6
          </td> 
      <td class="" rowspan="4" id=""> 
        5
         </td> 
      <td class="" rowspan="4" id=""> 
        30
          </td> 
    
      <td class=" Critical" rowspan="4" id="table_0_tr_1_criticalityLevel"> Critical </td> 
          
      <td class=""> Accept </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        Faible (3)
      </td>
    
      
     
      <td class="Transfer" rowspan="4" id="table_0_tr_1_optionOptimale_c">
        Transfer
      </td>
    
      <td class="" rowspan="4" id="" >
         Risk Response Plan	 2
    
         </td> 
      <td class="" rowspan="4" id="">
        Needs for the implementation of risk response plans	 2 
     </td> 
      <td class="" rowspan="4" id=""> 
        10
        </td> 
    
    
    </tr>
    
    
    <tr>
      <td class=""> Avoid </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        NA
      </td>
     
    </tr>
    <tr>
      <td class=""> Mitigate </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        Moyen (2)
      </td>
      
    </tr>
    <tr>
      <td class=""> Transfer </td> 
      <td class="">
        Faible (3)
      </td>
    
      <td class="">
        Elevé (1)
      </td>
     
    </tr>
    
    </tbody>
                 </table>
    </div>

    <button id="btn">Download</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js" integrity="sha512-/hVAZO5POxCKdZMSLefw30xEVwjm94PAV9ynjskGbIpBvHO9EBplEcdUlBdCKutpZsF+La8Ag4gNrG0gAOn3Ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script>
    function downloadPDFWithjsPDF() {
  var doc = new jspdf.jsPDF('p', 'pt', 'a0');

  doc.html(document.querySelector('#table_1'), {
    callback: function (doc) {
      doc.save('MLB World Series Winners.pdf');
    },
    margin: [60, 60, 60, 60],
    x: 32,
    y: 32,
  });
}

// function downloadPDFWithjsPDF() {
//   var doc = new jspdf.jsPDF();
// var h = $('#div').html();

// doc.html(h, {
//    callback: function (doc) {
//      doc.save();
//    },
//    x: 10,
//    y: 10
// })

// }

document.querySelector('#btn').addEventListener('click', downloadPDFWithjsPDF);

</script>

</body>
</html>